<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
       <h1><%= locals.title %></h1>
             <%- include('../partials/nav.ejs') %>

     <form action="/authors/create" method="POST">
        <div>
            <label for="authorName"></label>
            <input type="text" id="authorName" name="authorName" placeholder="author name">
        </div>
         <button type="submit">Submit</button>
       </form>
</body>
</html>